{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Images</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{% static 'style2.css' %}" />
  </head>
  <body>
    <h1>Face Aging App</h1>
    <div class="images">

          <h2>Wgrane zdjęcie:</h2>
            <div class="image">
                <img
              src="{{before.image.url}}"
              height="70%"
              width="70%"
              class="img-thumbnail"
              alt="..."
            /></div>

              <br>
        <div class="col-lg-4 col-md-4 col-12" >
<div class="text-center mt-2"><h2 class="text-center" >20 lat później:</h2>
<img src="{{first.image.url}}" class="img-thumbnail" alt="...">
</div>

</div>
<div class="col-lg-4 col-md-4 col-12" >
<div class="text-center mt-2"><h2 class="text-center" >40 lat później:</h2>
<img src="{{second.image.url}}" class="img-thumbnail" alt="...">
</div>

</div>


        <div class="col-lg-4 col-md-4 col-12" >
<div class="text-center mt-2"><h2 class="text-center" >60 lat później:</h2>
<img src="{{third.image.url}}" class="img-thumbnail" alt="...">
</div>

</div>
        <br>
          <div class="text-center mt-2">
      <form method="post">
        {% csrf_token %} {{form.as_p}}
        <button type="button" class="btn btn-outline-danger btn-sm">
          <a href="../"> Wgraj zdjęcie ponownie</a>
        </button>
      </form></div></div>
  </body>
</html>
