{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Images</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{% static 'style2.css' %}" />
  </head>
  <body>
    <h1>Face Aging App</h1>
    <div class="images">
      <p>Zdjęcie po symulacji</p>
      <div class="image">
        <div class="text-center mt-2">
          <img src="{{lf.image.url}} " />
        </div>
      </div>
      <button type="submit" class="btn btn-outline-danger btn-sm">
        <a href="'{% url 'home' %}'"> Wgraj zdjęcie ponownie</a>
      </button>
    </div>
  </body>
</html>
