{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Images</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{% static 'style2.css' %}" />
  </head>
  <body>
    <h1>Face Aging App</h1>
    <div class="images">
      <p1>Images</p1>
      <div class="image">
          <p2>Wgrane zdjęcie:</p2>
          <div class="text-center mt-2">
            <img
              src="{{before.image.url}}"
              height="70%"
              width="70%"
              class="img-thumbnail"
              alt="..."
            />
              <br>
        <div class="col-lg-4 col-md-4 col-12">
            <div class="col-sm">
            <p2>20 lat później:</p2>
            <img
              src="{{first.image.url}}"

            /></div><div class="col-sm">
              <p2>40 lat później:</p2>
            <img
              src="{{second.image.url}}"
            /></div><div class="col-sm">
                  <p2>60 lat później:</p2>
            <img
              src="{{third.image.url}}"
            /></div>
          </div>

        </div>
      </div>
      <form method="post">
        {% csrf_token %} {{form.as_p}}
        <button type="button" class="btn btn-outline-danger btn-sm">
          <a href="../"> Wgraj zdjęcie ponownie</a>
        </button>
      </form>
    </div>
  </body>
</html>
