body {
  background-color: #181818;
  padding: 0px;
  margin: 0px;
  display: grid;
  place-items: center;
  color: #cddaea;
  font-family: "Times new Roman", serif;
  font-size: 18px;
}

.images {
  margin-top: 15px;
  padding-top: 20px;
  border: 5px #2d2d2d;
  background-color: #212121;
  position: relative;
  width: 700px;
  height: 1000px;
  border-radius: 20px;
  display: grid;
}
.image {
  position: relative;
  width: 1000px;
  height: auto;
  border-radius: 20px;
  display: grid;
  text-align: center;
}
h1 {
  text-align: center;
  font-size: 37px;
}
h2
{
  text-align: center;
  font-size: 25px;
}
p {
  text-align: center;
  font-size: 15px;
}
img
{
  height: 300px;
  width: 300px;
}
button
{
  margin-top: 15px;
  padding-top: 20px;
}

